/* colors */
:root {
  --color-primary: #164D92;
  --color-secondary: #F0F4FF;
  --color-tertiary: #58595B;
;
}
/* font */
.body2{
  font-family: Lato;
font-weight: 700;
font-size: clamp(12px, 1vw, 16px);

line-height: 100%;
letter-spacing: 0%;
}
.body2-link{
  color: var(--color-primary);
  text-decoration: none;
  font-family: Lato;
font-weight: 700;
font-size: clamp(12px, 1vw, 16px);

line-height: 100%;
letter-spacing: 0%;
}

/* header */
.header {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 0 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}
  #mainHeader {
    transition: top 0.3s;
  }

.header-logo img {
  height: 48px;
}

.header-nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

.header-nav a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s;
}

.header-cta {
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
   white-space: nowrap; /* Prevent text from breaking */
  box-shadow: 0 2px 8px rgba(0, 150, 136, 0.08);
  transition: background 0.2s;
}
.btn-login{
  border: var(--color-primary) 2px solid;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.btn-login:hover{
  background-color:  var(--color-secondary);
  color:var(--color-primary)
}
.btn-signup.header-cta {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: var(--color-primary);
  background: linear-gradient(to right, #164D92, #E87722);
}
.btn-signup.header-cta:hover {
  background: linear-gradient(to right, #E87722, #164D92);
  /* background-color: var(--color-primary);
  color: var(--color-secondary); */
}


.btn-signup.header-cta::before {
  content: "";
  position: absolute;
  top: 2px; left: 2px; right: 2px; bottom: 2px;
  background: var(--color-secondary); /* button bg */
  border-radius: 22px;
  z-index: 1;
}

.btn-signup.header-cta span {
  position: relative;
  z-index: 2;
  display: inline-block;
}
footer{
  background-color: var(--color-primary);
}
.download-buttons a{
color: var(--color-primary);
font-size: clamp(10px, 0.8vw, 16px);
}
footer ul li a{
  font-size: 17px;
}
section{
  min-height: 400px;
}
footer h6{
  font-size: 17px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.gradient-text {
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #E87722 0%, #164D92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
#about-us p{
  color: var(--color-tertiary);
  line-height: 22px;
  letter-spacing: 0%;
  font-size: 16px;
}
#about-us a{
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}
.about-column{
  display: flex;
  flex-direction: column;

  gap: 24px;
  padding: 20px;
}
.about-highlight {
  color: var(--color-primary);
  font-weight: bold;
}