/* colors */
:root {
  --color-primary: #164D92;
  --color-secondary: #F0F4FF;
  --color-tertiary: #58595B;
--bg-color-primary:rgba(88, 89, 91, 0.05);
--bg-color-green:rgba(0, 180, 141, 1);
--bg-color-orange: rgba(232, 119, 34, 1);
--bg-color-grey: rgba(88, 89, 91, 1);
--bg-gradient-news: linear-gradient(90deg, rgba(232, 119, 34, 0.15) 0%, rgba(22, 77, 146, 0.15) 100%);





}
body{
  overflow-x: hidden;
}
/* font */
.body2{
  font-family: Lato;
font-weight: 700;
font-size: clamp(12px, 1vw, 16px);

line-height: 100%;
letter-spacing: 0%;
}
.body2-link{
  color: var(--color-primary);
  text-decoration: none;
  font-family: Lato;
font-weight: 700;
font-size: clamp(12px, 1vw, 16px);

line-height: 100%;
letter-spacing: 0%;
}

/* header */
.header {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 0 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}
  #mainHeader {
    transition: top 0.3s;
  }

.header-logo img {
  height: 48px;
}

.header-nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

.header-nav a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s;
}

.header-cta {
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
   white-space: nowrap; /* Prevent text from breaking */
  box-shadow: 0 2px 8px rgba(0, 150, 136, 0.08);
  transition: background 0.2s;
}
.btn-login{
  border: var(--color-primary) 2px solid;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.btn-login:hover{
  background-color:  var(--color-secondary);
  color:var(--color-primary)
}
.btn-signup.header-cta {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: var(--color-primary);
  background: linear-gradient(to left, #164D92, #E87722);
}
.btn-signup.header-cta:hover {
  background: linear-gradient(to right, #E87722, #164D92);
  /* background-color: var(--color-primary);
  color: var(--color-secondary); */
}


.btn-signup.header-cta::before {
  content: "";
  position: absolute;
  top: 2px; left: 2px; right: 2px; bottom: 2px;
  background: var(--color-secondary); /* button bg */
  border-radius: 22px;
  z-index: 1;
}

.btn-signup.header-cta span {
  position: relative;
  z-index: 2;
  display: inline-block;
}
footer{
  background-color: var(--color-primary);
}
.download-buttons a{
color: var(--color-primary);
font-size: clamp(10px, 0.8vw, 16px);
}
footer ul li a{
  font-size: 14px;
}
footer h6{
  font-size: 17px;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}
.swiper{
  border-radius: 24px;
}
.gradient-text {
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #E87722 0%, #164D92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
#about-us p{
  color: var(--color-tertiary);
  line-height: 22px;
  letter-spacing: 0%;
  font-size: 16px;
}
#about-us a{
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}
.about-column{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}
.about-highlight {
  color: var(--color-primary);
  font-weight: bold;
}
 .swiper {
    width: 100%;
    height: 400px; /* or auto, but not 0 */
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* geographies */
  #geographies {
    background-color: var(--bg-color-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  section{
      padding: 40px 20px;
  }
  h2 {
    color: var(--color-primary);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
  }
  #geographies p {
    color: var(--color-tertiary);
    text-align: center;
  margin-bottom: 40px;
    font-size: 24px;
  }
    .strategic-focus-section {
      text-align: center;
      margin: 40px 0;
    }

    .focus-cards {
      display: flex;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
    }
    .focus-card {
   
      background: linear-gradient(53.58deg, #022551 0%, #1E5AA4 100%);

      color: #fff;
      border-radius: 16px;
      width: 200px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 6px 24px rgba(44, 62, 80, 0.12);
      transition: transform 0.2s, box-shadow 0.2s;
      position: relative;
  background: linear-gradient(to right, #164D92, #E87722);
      
    }

    .focus-card::before {
    content: "";
    position: absolute;
    top: 2px; left: 2px; right: 2px; bottom: 2px;
    background:linear-gradient(53.58deg, #022551 0%, #1E5AA4 100%); /* button bg */
     border-radius: 14px;
     z-index: 1;
}

    
    .focus-card:hover {
      transform: translateY(-6px) scale(1.03);
      box-shadow: 0 12px 32px rgba(44, 62, 80, 0.18);
    }
 
    .focus-card-title {
      font-size: 1.1rem;
      font-weight: 500;
      color: #fff;
      margin-top: 8px;
      z-index: 2;
    }
    .focus-icon{
      width: 44px;
      height: 40px;
    z-index: 2;
 
    }
    /* social impact */
    #social-impact {
      background-color: var(--bg-color-primary);
      padding: 40px 20px;
      text-align: center;
    }
     .social-cards {
      display: flex;
      justify-content: center;
      gap: 77px;
      flex-wrap: wrap;
    }
    .social-card {
   
      background: linear-gradient(53.58deg, #022551 0%, #1E5AA4 100%);
      padding: 20px;
      border-radius: 16px;
      /* width: 234px; */
      height: 229px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.2s, box-shadow 0.2s;
      position: relative;
  background: linear-gradient(to right, #164D92, #E87722);
      
    }

    .social-card::before {
    content: "";
    position: absolute;
    top: 2px; left: 2px; right: 2px; bottom: 2px;
    background:white;
     border-radius: 14px;
     z-index: 1;
}

    
    .social-card:hover {
      transform: translateY(-6px) scale(1.03);
      box-shadow: 0 12px 32px rgba(44, 62, 80, 0.18);
    }
 
    .social-card-title {
      /* font-size: 1.1rem; */
      font-weight: 650;
      font-size: 17px;
      color: var(--color-primary);
      margin-top: 8px;
      z-index: 2;
    }
    .social-icon{
      width: 44px;
      height: 40px;
    z-index: 2;
 
    }
    .social-card-count{
      color: var(--color-primary);
     font-weight: 650;
      font-size: 32px;
      z-index: 2;
    }
    .social-card-text{
      z-index: 2;
      font-weight: 700;
      font-size: 14px;
       margin: 0;
    }
    .bottom-social{
      z-index: 2;
      position: absolute;
      bottom: 20px;
    }
    .icon-column{
      padding: 12px;
      border-top-left-radius: 14px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 14px;

font-size: 18px;
font-weight: 600;
    }
    .icon-column.aid{
background-color: var(--bg-color-green);

    }
    .pillar-content{
       background: linear-gradient(53.58deg, #022551 0%, #1E5AA4 100%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: left;
      /* box-shadow: 0 6px 24px rgba(44, 62, 80, 0.12); */
      transition: transform 0.2s, box-shadow 0.2s;
      position: relative;
  background: linear-gradient(to right, #164D92, #E87722);
    }
    .pillar-content::before {
        
    content: "";
    position: absolute;
    top: 2px; left: 2px; right: 2px; bottom: 2px;
    background:white;
     /* border-radius: 14px; */
     z-index: 1;
    }
  .end-icon-column{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
      padding: 12px;
      border-top-left-radius: 2px;
border-top-right-radius: 14px;
border-bottom-right-radius: 14px;
border-bottom-left-radius: 2px;

font-size: 12px;

font-weight: 600;
       /* box-shadow: 0 6px 24px rgba(44, 62, 80, 0.12); */
      transition: transform 0.2s, box-shadow 0.2s;
      position: relative;
  background: linear-gradient(to left, #164D92, #E87722);
  }
.end-icon-column::after{
      content: "";
    position: absolute;
    top: 2px; left: 2px; right: 2px; bottom: 2px;
    background:white;
   /* border-top-left-radius: 2px; */
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
/* border-bottom-left-radius: 2px; */
     z-index: 1;
}
.pillar-pill{
  padding-inline: 10px;
  border-radius: 5px;
  margin-right: 4px;
  margin-bottom: 8px;
  font-size: 13px;
  z-index: 2;
  color: black;
  background: var(--bg-color-primary);
}
.count-para{
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.belong{
  background: var(--color-primary);
}
.coach{
  background: var(--bg-color-orange);
}
.disaster{
  background: var(--bg-color-grey);
}


/* responsiveness */
/* mobile and under */
@media (max-width: 767px) {
  .focus-cards {
    gap: 12px;
  }
  .focus-card {
    width: 47%;
    /* height: 100px;
    font-size: 60px;
    flex-direction: row;
    gap: 30px;
    align-items: center; */
  }
  .focus-card-title{
    font-size: 1.2rem;
  }
  /* socaial card */
  .social-card{
    width: 90%;
    height: 180px;
    /* flex-direction: row; */

    align-items: center;
  }
  .social-card-title{
    font-size: 18px;
  }
  .social-card-count{
    font-size: 20px;
  }
  .bottom-social{
    position: relative;
    bottom: 0;
    /* margin-top: 20px; */
  }

}
@media (max-width: 576px) {
   .pillar-count.col-sm-3 {
        width: 100% !important;
    }
    .end-icon-column,.end-icon-column::after{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }


  .icon-column{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
.aid-focus-card{
  width: 97%;
}
}
  .custom-card {
      border-radius: 20px;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
      padding: 20px;
      background: #fff;
      max-width: 600px;
      height: 462px;
      margin: 2rem auto;
      position: relative;
    }
    .news-img {
      border-radius: 12px;
      width: 100%;
      height: 192px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .news-title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .news-meta {
      position: absolute;
      width: 90%;
      bottom: 16px;
      font-size:12px;
      color: var(--color-tertiary);
      display: flex;
      align-items: center;
      /* gap: 4rem; */
    }
    .news-meta i {
      margin-right: 0.3rem;
    }
    /* .arrow-circle {
      display: inline-flex;
      position: relative;
      align-items: center;
      border-radius: 50%;
    padding: 10px;
      font-size: 1.2rem;
      color: #2b7cff;
        background: linear-gradient(to right, #164D92, #E87722);
      margin-right: 0.7rem;
      z-index: 2;
    } */
    /* .arrow-circle::before {
      content: "";
      border-radius: 50%;
    position: absolute;
    top: 4%; left: 4%; right: 3%; bottom: 4%;
    background:white;
   
     z-index: 1;
    } 

    /* .arrow-outward{
      color: var(--color-primary);
      z-index: 2;
      width: 24px;
    } */
    #news-and-newsletter {
      background: var(--bg-gradient-news);
     
    }
    .arrow-circle {
      width: 44px;
    }

      .custom-card-2 {
      border-radius: 20px;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
      padding: 30px;
      background: #fff;
      max-width: 403px;
      height: 156px;
      margin: 2rem auto;
      position: relative;
    }
    .herald-img{
      width: 158px;
    height: 106px;
    }
    .herald-month{
      font-size: 24px;
    }
    .herald-year{
      font-size: 32px;
      font-weight: 700;
    }

    @media (min-width: 992px) {
    .social-card.col-lg-2 {
      
        width: 19.666667% !important;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .focus-card {
    width: 17% !important;
  }
}
/* carousel */
  .carousel-inner img {
    
      object-fit: cover;
    }

    .carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity .4s ease-in-out !important; /* adjust time as needed */
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}
    .carousel-indicators {
      bottom: 60px;
    }

    .carousel-indicators [data-bs-target] {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid white;
      background-color: transparent;
      opacity: 1;
      margin: 0 6px;
    }

    .carousel-indicators .active {
      background-color: var(--bg-color-orange);
      border-color: var(--bg-color-orange);
    }
    .banner-container{
      /* position: absolute; */
      max-height: 89vh;
    }
    .banner-text{
      color: white;
      font-size: 4.1vw;
    }
    .banner-text-2{
      color: white;
      font-size: 35px;
    }
       .banner-text-3{
      color: white;
      font-size: 56px;
    }
    .sub-text{
      font-size: 32px;
      color: rgba(255, 255, 255, 0.693);
      line-height: 120%;
    }
    .sub-text-2{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.693);
      line-height: 120%;
    }
    .fade-swiper {
  width: 120%;
  height: 400px;
}

.fade-swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second-banner-col{
  min-height: 320px;
}

@media (max-width: 768px) {
.banner-text{
  font-size: 30px !important;
}
.banner-text-2{
  font-size: 24px !important;
}
.banner-text-3{
  font-size: 30px !important;
}
    .sub-text{
      font-size: 16px;
    }
    .sub-text-2{
      font-size: 14px;
    }
   
     .carousel-inner img {
      height:50vh;
      object-fit: cover;
    }
     .carousel-indicators {
      bottom: 10px !important;
    }

}
@media (max-width: 1025px) {
   #geographies p {
  
    font-size: 18px;
  }
   /* .content-container{
      padding: 10px !important;
    } */
     .content-container{
  padding: 6% 3% !important;
}
    .banner-text-3{
  font-size: 30px !important;
}
   .banner-text-2{
  font-size: 30px !important;
}
  .sub-text-2{
      font-size: 12px;
    }
}
.content-container{
  padding: 12% 5%;
}
  .col-sm-3 {
        width: 23% !important;
    }